@import 'bulma/sass/utilities/all.sass';
@import 'bulma/sass/base/all.sass';
@import 'bulma/sass/grid/all.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/form.sass';
@import 'bulma/sass/elements/content.sass';

.main-content {
    min-height: 800px;
}

.logo {
    width: 40px;

    &:hover {
        animation: rotation 4s infinite linear;
    }
}

.emoji {
    padding: 0 1rem;
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}